






body{
    top: 0;
    left: 0;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(5, 11, 0);
}

canvas{
    background-color: rgb(255,0,0);
}


